* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.app {
  height: 100%;
  background-color: #f0f2f5;
  /* outline: 2px solid red; */
  /* color: red; */
}

.app__body {
  display: flex;
  justify-content: space-between;
}
